<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
         <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            This site was created by James Cotton. It uses data from mapbox.com for geocoding and darksky.net for weather forecasting
            <img class='portrait' src='/img/photo1v1.jpeg'>
        </div>
        {{>footer}}
     
    </body>
</html>